.info-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  &__details {
    display: flex;
    &__type {
      align-self: center;
      .fa-default {
        color: $card-header-color;
        opacity: 0.1;
        font-size: 1.2em;
        line-height: 14px;
        @include respond(phone) {
          font-size: 1.7em;
        }
      }
    }
    &__image {
      align-self: center;
      width: 24px;
      height: 24px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      &__header {
        font-size: $f-14;
        line-height: 16px;
        color: $card-header-color;
        &__caption {
          font-size: $f-12;
          line-height: 14px;
          color: $card-header-color;
          mix-blend-mode: normal;
          opacity: 0.5;
        }
      }
      &__description {
        font-size: $f-12;
        line-height: 14px;
        color: $card-header-color;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
  }
  &__icon {
    align-self: center;
    .fa-green {
      color: $color-green;
      font-size: 1.4em;
      @include respond(phone) {
        font-size: 2em;
      }
    }
    .fa-white {
      opacity: 0.1;
      font-size: 1.4em;
      @include respond(phone) {
        font-size: 2.2em;
      }
    }
  }
}
