// colors
$content-bgcolor: #f9fafb;
$color-orange: #ffa03d;
$color-red: #FF6448;
$color-green: #26C281;
$color-mediumGray: rgba(34, 34, 34, 0.5);
$divider-color: rgba(34, 34, 34, 0.05);
$button-border-color: rgba(34, 34, 34, 0.1);
$bg-white: #ffffff;
$card-header-color: #222222;
$footer-background: #f2f2f2;

//margins
$mt-7: 7px;
$mt-13: 13px;
$mt-14: 14px;
$mt-15: 15px;
$mt-25: 25px;
$mr-5: 5px;
$mr-4: 4px;
$mr-8: 8px;
$ml-5: 5px;
$ml-8: 8px;

//fonts
$f-12: 12px;
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
